.work{
    width: 90%;
    margin: auto;
}

.star-word{
    display: flex;
    justify-content: space-evenly;
}
.star{
    gap: 15px;
    /* font-size: 0px; */
    width: 350px;
}
.empty-1{
    width: 95px;
}
.cards .card-word p{
   margin-top: 4.5rem;
   font-size: 22px;
   width: 350px;
}
.cards .card-img img{
    width: 90%;
}

.overflow{
    /* width: 1000%; */
    display: flex;
    justify-content: space-between;

}

.overflow img{
    width: 20%;

}